/* Styles for print view and printing */

/* Hide some extra stuff from print view */
.noprint,
#header,
#mw-sidebar-outer,
#page-tools,
.mw-indicators,
#p-logo,
#catlinks,
#mw-footer,
#footer-icons,
#footer-places {
	display: none;
}

/* Make links boring black instead of blue and underlined */
a {
	color: #000;
	text-decoration: none;
}
