// Make echo badges cooperate

@media screen {
	#p-personal-extra li#pt-notifications-alert,
	#p-personal-extra li#pt-notifications-notice {
		display: inline-block;
		margin: -0.5em 0;
		padding: 0.25em 0.25em 0;

		@media ( max-width: 700px ) {
			padding-top: 0.85em;

			.mw-echo-notifications-badge,
			.mw-echo-notifications-badge {
				top: -5px;
			}
		}
	}

	#pt-notifications-alert .mw-echo-notifications-badge,
	#pt-notifications-notice .mw-echo-notifications-badge {
		top: -1px;
	}
}
